body{
	background-color: #F8F9FA;
	width: 100%;
	font-family: 'Roboto','Montserrat',sans-serif;
	font-family: 'Crimson Text', serif;
}
body p{
	font-family: 'Source Sans Pro', sans-serif;	
	font-size: 13px;
	letter-spacing: 0.9px;
}
body h1, h2{
	font-weight: 600;
	font-family: 'PT Serif','Noto Serif', serif;
}

#mainNav{
	background-color: #67696E;
}
#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #3A3A3A;
  border: 0;
  background-color: #fff;
 }

.navbar-brand{
	padding-left: 0;
}
.navbar-nav{
	text-transform: uppercase;
	font-size: 15px;
}
.nav-item{
	padding: 10px 0 10px 20px;
}



header{
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../img/service5.jpg) center;
  background-size: cover;
}
header .hero-text{
	text-shadow: 3px #0E0D0A;
	padding-top: 250px;
	text-align: center;
}
 
header	.hero-text h1{
	letter-spacing: 0.5px;
	color: #fff;
	font-weight: 600;
	font-size: 40px;
}

.services{
	margin-top: 40px;
}

.services .serv-list{
	padding: 40px 0 80px 0;
}
.services .line1{
	border-top: 1px solid;
	width: 20%;
}
.services .serv-text1{
	text-transform: uppercase;
	text-align: center;
}
 
.services .serv-item{
	padding : 40px 20px;
}
.services .carousel-caption a{
	color: #fff;
}

.services .carousel-caption{
	padding-bottom: 40px;
	font-size: 22px;
	font-weight: 450;
	letter-spacing: 2px;
	text-align: left;
	text-transform: uppercase;
}


footer{
	margin-top: 20px;
	padding: 0px 120px 0 120px;
}

footer .foot-list{
	padding: 40px;
	margin-bottom: 40px;
}
.foot-list a{
	color: #0E0D0A;
}

.foot-list h4{
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 250px;
	letter-spacing: 0.5;
}
footer .line2{
	border-top: 1px solid;
}

footer .foot-list ul{
	list-style: none;
	padding: 0;
}

footer .foot-list li {
	font-size: 13px;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	text-align: left;
}

footer .line3{
	width: 100%;
	border-top: 1px solid;
}
footer .copi{
	font-family: 'Noto Serif', serif;
	font-weight: 200;
	text-align: center;
}
footer .social ul{
	padding: 0;
	margin-left: 0;
	list-style: none;
	text-align: center;
}
footer .social li{
	display: inline;
	padding: 20px 10px;
	font-size: 20px;
}
footer .social li:hover{
	color: #B8BABB;
}